/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(61, 61, 61);
    color:white;
    font-family: 'Jersey 10';
}

canvas{
    display: none;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
}

img, button, h1, h2, p{
    position: absolute;
}

h1, h2{
    font-weight: 200;
}

button img{
    top: 0;
    left: 0;
}

a{
    color: white;
}


/* ---------- elementos do menu ---------- */

/* #menu{
    display: none;
} */

#titulo{
    top: 700px;
    left: 60px;
}

#btnJogar{
    top: 600px;
    left: 1400px;
    width: 400px;
    height: 130px;
    background: none;
    border: none;
}

#btnSobre{
    top: 750px;
    left: 1400px;
    width: 400px;
    height: 130px;
    background: none;
    border: none;
}

#btnManual{
    top: 900px;
    left: 1400px;
    width: 400px;
    height: 130px;
    background: none;
    border: none;
}

#btnVoltarSobre{
    top: 900px;
    left: 1400px;
    width: 400px;
    height: 130px;
    background: none;
    border: none;
}

#btnVoltarManual{
    top: 900px;
    left: 1400px;
    width: 400px;
    height: 130px;
    background: none;
    border: none;
}


/* ---------- elementos do sobre ---------- */

#sobre{
    display: none;
}

#sobre h1{
    left: 880px;
    top: 60px;
    font-size: 5rem;
}

#sobre h2{
    font-size: 3rem
}

#sobre p{
    font-size: 2rem;
}

#sobre #dev{
    width: 600px;
    line-height: 4;
    position: absolute;
    left: 300px;
    top: 200px;
}

#sobre #po{
    width: 500px;
    line-height: 4;
    position: absolute;
    left: 800px;
    top: 200px
}


/* ---------- elementos do manual ---------- */

#manual{
    display: none;
}

#manual h1{
    left: 880px;
    top: 60px;
    font-size: 5rem;
}

#manual h2{
    font-size: 3rem
}

#manual p{
    font-size: 2rem;
}


/* ---------- elementos do derrota ---------- */

#derrota{
    display: none;
}

#derrota #text{
    left: 680px;
    top: 200px;
}

#derrota #basico{
    left: 1400px;
    top: 300px;
}

#derrota #onda{
    left: 1500px;
    top: 700px;
}

#derrota h2{
    font-weight: 200;
    font-size: 4rem;
    left: 700px;
    top: 370px;
}

#derrota p{
    font-size: 3rem;
}

#derrota #pontuacao{
    width: 300px;
    left: 800px;
    top: 500px;
    text-align: center;
}

#derrota #novamente{
    width: 700px;
    left: 600px;
    top: 700px;
    text-align: center;
}


/* ---------- elementos do vitoria ---------- */

#vitoria{
    display: none;
}

#vitoria #text{
    left: 690px;
    top: 200px;
}

#vitoria p{
    font-size: 3rem;
}

#vitoria h2{
    font-size: 4rem;
    left: 500px;
    top: 350px;
}

#vitoria #pontuacao{
    width: 300px;
    left: 800px;
    top: 450px;
    text-align: center;
}

#vitoria #vidas{
    width: 500px;
    left: 750px;
    top: 500px;
}

#vitoria #total{
    width: 500px;
    left: 750px;
    top: 600px;
    font-size: 3.5rem;
}

#vitoria #novamente{
    width: 700px;
    left: 600px;
    top: 750px;
    text-align: center;
}